* {
    outline: solid 1px red;
}

html {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 1.25rem;
    text-align: center;
}

.calculator-main-div {
    height: 50%;
    margin-top: 25%;
    padding: 3%;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    border-radius: 5px;
    outline: solid 1px lightgray;
}

.results-div {
    height: 22%;
    margin-bottom: 3%;
    background-color: rgb(237, 234, 234);
    border-radius: 5px;
    outline: solid 1px lightgray;
}

.calculation {
    height: 50%;
}

.result {
    height: 50%;
}

.buttons-div {
    height: 73.5%;
    background-color: rgb(237, 234, 234);
    border-radius: 5px;
    outline: solid 1px lightgray;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5%;
    padding: 1.5%;
}

.button {
    border-radius: 5px;
    outline: solid 1px lightgray;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.undo {
    grid-area: 1 / 2 / 2 / 4;
}

.erase {
    grid-area: 1 / 4 / 2 / 6;
}

.equals {
    grid-area: 4 / 5 / 6 / 6;
}

